html,
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.container {
    width: 700px;
    margin: 0 auto;
    padding: 0 30px;
}
.flex {
    display: flex;
}
.flex-vert {
    flex-direction: column;
}
.flex-content {
    justify-content: space-between;
    align-items: center;
}
.margin-bottom {
    margin-bottom: 10px;
}
.input,
.tasks {
    padding: 10px 5px;
}
.input,
.header,
.tasks {
    border: 1px solid #31436A;
}
.header {
    text-align: center;
}
.title {
    margin: 10px;
    color: #31436A;
}
.tasks {
    height: 500px;
    overflow-y: auto;
}
.task {
    padding: 10px;
    height: 120px;
    background: lightgray;
    border-radius: 5px;
}
.content {
    height: 70px;
    overflow-y: auto;
    width: 85%;
}
.btn {
    background: #31436A;
    color: #fff;
    border: none;
    padding: 3px 3px;
}
.padding {
    padding: 5px;
}
@media screen and (min-width: 600px) {
    .container {
        padding: 0;
    }
    .flex_item {
        flex-basis: 33%;
    }
    .display {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}